params{
    example_str = 'Welcome to Levanon Lab Nextflow Workshop!'
}

profiles {
    adar {
        params.processed_str="$params.example_str".replace('A', 'I').replace('a', 'i')
    } 
    apobec {
        params.processed_str="$params.example_str".replace('C', 'U').replace('c', 'u')
    }
    standard {
        params.example_str_edited=params.example_str
    }
}